<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-info">
            <div class="row">
              <div class="col-md-6">
                <!-- Title Table -->
                <h3 class="card-title">ตารางรอบบัญชีเรียกเก็บค่าไฟฟ้า</h3>
                <p class="card-contegory">จัดการงวดการประมวลผลค่าไฟฟ้า และกำหนดข้อมูลต่าง ๆ เกี่ยวกับงวดบัญชีนั้น ๆ</p>
              </div>
              <div class="col-md-6 text-right">
                <!-- Button of Table -->
                <button mat-raised-button mat-min-fab [disabled]="!(lengthSelected == 1)" (click)="gotoViewPeriodInfo()"
                  class="btn btn-primary btn-just-icon btn-round">
                  <i class="material-icons">visibility</i>
                </button>
                &nbsp;
                <button mat-raised-button mat-min-fab [disabled]="!(lengthSelected == 1)" (click)="gotoEdit()"
                  class="btn btn-primary btn-just-icon btn-round">
                  <i class="material-icons">edit</i>
                </button>
                &nbsp;
                <button mat-raised-button mat-min-fab [disabled]="!lengthSelected" (click)="removeMeter()"
                  class="btn btn-danger btn-just-icon btn-round">
                  <i class="material-icons">delete</i>
                </button>
                &nbsp;
                <a mat-raised-button mat-min-fab routerLink="./แบบอฟร์ม"
                  class="btn btn-primary btn-just-icon btn-round">
                  <i class="material-icons">add</i>
              </a>
              </div>
            </div>
          </div>
          <div class="card-body">
            <table (click)="tableClick()" datatable id="periodTable" class="table table-striped table-no-bordered table-hover" style="width: 100%"></table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>