<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 text-center">
          <button routerLink="/การตั้งค่า/ห้องพัก/แบบฟอร์มห้องพัก" mat-raised-button class="btn btn-default btn-round">
              <i class="material-icons">reply</i> กลับไปก่อนหน้า
              </button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 ml-auto mr-auto">
        <div class="card">
          <div class="card-header card-header-info">
            <h3 class="card-title">
              ข้อมูลอาคาร/สถานที่
            </h3>
            <h5 class="card-description">กรุณาระบุข้อมูลอาคารหรือสถานที่ ที่ท่านต้องการเพิ่มข้อมูล แล้วกดปุ่มบันทึก</h5>
          </div>
          <div class="card-body ">
            <form #buildingForm="ngForm" autocomplete="off"
              (ngSubmit)="buildingFromSubmit(buildingForm.value); buildingForm.reset();" class="form-horizontal">
              <div class="row">
                <label class="col-md-3 col-2 col-form-label">รหัสอาคาร</label>
                <div class="col-md-9 col-9">
                  <mat-form-field class="example-full-width">
                    <input matInput #code="ngModel" required id="code" name="code" ngModel type="text"
                      pattern="^[0-9]{0,2}$" minlength="2" maxlength="2">
                    <mat-error *ngIf="code.invalid">กรุณาระบุรหัสอาคารเป็นตัวเลข 2 หลัก</mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <label class="col-md-3 col-2 col-form-label">ชื่ออาคาร</label>
                <div class="col-md-9 col-9">
                  <mat-form-field class="example-full-width">
                    <input matInput #name="ngModel" required name="name" ngModel id="name" type="text">
                    <mat-error *ngIf="name.invalid">กรุณาระบุชื่ออาคาร</mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row text-right">
                <div class="col-md-12 col-12">
                  <button type="submit" [disabled]="!buildingForm.valid" mat-raised-button
                    class="btn btn-danger btn-round"><i class="material-icons">save</i>
                    บันทึก</button>
                </div>
              </div>
            </form>
            <hr />
            <table class="table table-hover">
              <thead class="text-warning">
                <tr>
                  <th>รหัส</th>
                  <th>ชื่อ</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let building of buildingList">
                  <td>{{ building.code }}</td>
                  <td>{{ building.text }}</td>
                  <td class="text-right">
                    <button (click)="deleteBuilding(building.id, building.code, building.text)" mat-raised-button mat-min-fab class="btn btn-danger btn-just-icon btn-round">
                      <i class="material-icons">delete</i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>